extends /layouts/default

block title
    | #CrappyHour

block content
  #header
    .container
      h2.logo Creative <br> Happy Hour
      .nav-right
        a(href="").button.pull-right Join Us!



  #content
    .container
      p Creative happy hour is a response to the collective feeling in New York that we all hve first-rate friends that we don't get to see nearly often enough; even less frequently do our first-rate friend get to meet one another. Every month we designate a time and place to bring people together.
      h4 The next #crappyhour is June 22nd, 6-8pm at <a href="#">One Mile House.</a>
      .countdown
        .row
          .clock-col
            .timer-clock
              svg#clock(viewbox='0 0 100 100')
                circle#face-day(cx='50', cy='50', r='45')
                g#hands
                  rect#day(x='48.5', y='12.5', width='5', height='40', rx='2.5', ry='2.55')
          .clock-col
            .timer-clock
              svg#clock(viewbox='0 0 100 100')
                circle#face-hour(cx='50', cy='50', r='45')
                g#hands
                  rect#hour(x='48.5', y='12.5', width='5', height='40', rx='2.5', ry='2.55')
          .clock-col
            .timer-clock
              svg#clock(viewbox='0 0 100 100')
                circle#face-min(cx='50', cy='50', r='45')
                g#hands
                  rect#min(x='48', y='12.5', width='2', height='40', rx='2', ry='2')
          .clock-col
            .timer-clock
              svg#clock(viewbox='0 0 100 100')
                circle#face-sec(cx='50', cy='50', r='45')
                g#hands
                  rect#sec(x='48', y='12.5', width='3', height='40', rx='2', ry='2')

          .clock-col
            .timer-clock
          .clock-col
            .timer-clock

        #countdown




      .contact-form
        form
          .data-input
            span My name is
            <input type="text" placeholder="Tony Morris">
            <br>
            span and I'd love to get a reminder at
            <input type="text" placeholder="email@domain.com">
          input(type='submit' value="Remind Me").button.submit


  #footer
    .container
      a(href="#").footer-link Hosted by Planetary
